.footer-container {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 5px;

}

.footer-description {
    text-align: center;
    width: 500px;
    margin-left: 580px;


}

.horizontal-line {
    border: 1px solid red;
    width: 1px;
    height: 15px;
    margin: 5px;

}

.last-line {
    margin-left: 700px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 800px) {
    .footer-container {
        background-color: black;
        color: white;
        padding: 10px;
        margin-top: 700px;
    }

    .last-line {
        margin-left: 50px;
    }

    .footer-description {
        text-align: center;
        width: 350px;
        margin-left: 15px;


    }
}