.manage-inventory-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 5px solid rosybrown;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    grid-gap: 5px;
    background-color: rgb(77, 96, 99);
    color: blanchedalmond;
    font-family: Ink Free;
    height: 150px;
}

.manage-inventory-container:hover {
    background-color: rgba(105, 12, 32, 0.808);
}

.manage-inventory-container img {
    width: 200px;
    border-radius: 60px;
}

.delete {
    background-color: rgb(230, 41, 16);
    border-radius: 15px;
}

.delete:hover {
    background-color: lightpink;
    border-radius: 25px;
}

.update {
    background-color: green;
    border-radius: 15px;
}

.update:hover {
    background-color: rgb(236, 233, 13);
    border-radius: 25px;
}

.manage-inventory-container button {
    width: 75%;
    height: 45%;

}